In [49]:
#Dependencies
import pandas as pd
import csv
import matplotlib
import seaborn
import os
import numpy as np
import time
import json
from config import wolf_api_key
from pprint import pprint
import requests

In [50]:
#import csv into dataframe and preview
cities_df = pd.read_csv("500_Cities_original.csv", encoding="ISO-8859-1")

In [51]:
#Keep only city-level rows
cities_df = cities_df.loc[cities_df["GeographicLevel"] == "City"]

In [52]:
#keep only age-adjusted data values
#Keep only city-level rows
cities_df = cities_df.loc[cities_df["DataValueTypeID"] == "AgeAdjPrv"]
cities_df.head()

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
56,2016,AL,Alabama,Birmingham,City,BRFSS,Prevention,0107000,Current lack of health insurance among adults ...,%,...,19.9,NaN,NaN,212237,"(33.5275663773, -86.7988174678)",PREVENT,ACCESS2,107000.0,NaN,Health Insurance
156,2016,AL,Alabama,Birmingham,City,BRFSS,Health Outcomes,0107000,Arthritis among adults aged >=18 Years,%,...,29.4,NaN,NaN,212237,"(33.5275663773, -86.7988174678)",HLTHOUT,ARTHRITIS,107000.0,NaN,Arthritis
256,2016,AL,Alabama,Birmingham,City,BRFSS,Unhealthy Behaviors,0107000,Binge drinking among adults aged >=18 Years,%,...,13.1,NaN,NaN,212237,"(33.5275663773, -86.7988174678)",UNHBEH,BINGE,107000.0,NaN,Binge Drinking
359,2015,AL,Alabama,Birmingham,City,BRFSS,Health Outcomes,0107000,High blood pressure among adults aged >=18 Years,%,...,44.2,NaN,NaN,212237,"(33.5275663773, -86.7988174678)",HLTHOUT,BPHIGH,107000.0,NaN,High Blood Pressure
459,2015,AL,Alabama,Birmingham,City,BRFSS,Prevention,0107000,Taking medicine for high blood pressure contro...,%,...,70.2,NaN,NaN,212237,"(33.5275663773, -86.7988174678)",PREVENT,BPMED,107000.0,NaN,Taking BP Medication

In [53]:
#trim down columns
cities_cleaned_df = cities_df.loc[:, ["Year", "StateDesc", "CityName",
                                    "Category", "Measure", "DataValueTypeID", "Data_Value", "PopulationCount",
                                      "Count_of_Individuals", "GeoLocation", "MeasureId", "CityFIPS",
                                      "Short_Question_Text"]]
cities_cleaned_df.head(6)

C:\Users\maste\anaconda\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,Year,StateDesc,CityName,Category,Measure,DataValueTypeID,Data_Value,PopulationCount,Count_of_Individuals,GeoLocation,MeasureId,CityFIPS,Short_Question_Text
56,2016,Alabama,Birmingham,Prevention,Current lack of health insurance among adults ...,AgeAdjPrv,19.5,212237,NaN,"(33.5275663773, -86.7988174678)",ACCESS2,107000.0,Health Insurance
156,2016,Alabama,Birmingham,Health Outcomes,Arthritis among adults aged >=18 Years,AgeAdjPrv,29.3,212237,NaN,"(33.5275663773, -86.7988174678)",ARTHRITIS,107000.0,Arthritis
256,2016,Alabama,Birmingham,Unhealthy Behaviors,Binge drinking among adults aged >=18 Years,AgeAdjPrv,13.0,212237,NaN,"(33.5275663773, -86.7988174678)",BINGE,107000.0,Binge Drinking
359,2015,Alabama,Birmingham,Health Outcomes,High blood pressure among adults aged >=18 Years,AgeAdjPrv,44.1,212237,NaN,"(33.5275663773, -86.7988174678)",BPHIGH,107000.0,High Blood Pressure
459,2015,Alabama,Birmingham,Prevention,Taking medicine for high blood pressure contro...,AgeAdjPrv,70.1,212237,NaN,"(33.5275663773, -86.7988174678)",BPMED,107000.0,Taking BP Medication
560,2016,Alabama,Birmingham,Health Outcomes,Cancer (excluding skin cancer) among adults ag...,AgeAdjPrv,5.7,212237,NaN,"(33.5275663773, -86.7988174678)",CANCER,107000.0,Cancer (except skin)

In [54]:
just_cities = cities_df.loc[:, ["StateDesc","CityName","PopulationCount","GeoLocation","CityFIPS"]]
just_cities = just_cities.drop_duplicates()

# Make a small dataframe to play around with
just_cities_head = just_cities.head(3)
just_cities.head()

,StateDesc,CityName,PopulationCount,GeoLocation,CityFIPS
56,Alabama,Birmingham,212237,"(33.5275663773, -86.7988174678)",107000.0
2851,Alabama,Hoover,81619,"(33.3767602729, -86.8051937568)",135896.0
3713,Alabama,Huntsville,180105,"(34.6989692671, -86.6387042882)",137000.0
5549,Alabama,Mobile,195111,"(30.6776248648, -88.1184482714)",150000.0
7779,Alabama,Montgomery,205764,"(32.3472645333, -86.2677059552)",151000.0

# Add Weather

In [29]:
# Get Weather Loop

# Build partial query URL
url = "https://api.wolframalpha.com/v2/query?format=plaintext&output=JSON&input="


print("Beginning Data Retrieval")
print("------------------------")

row_count = 1

# Make Weather DataFrame
weather_df = []
weather_df = pd.DataFrame()
weather_df["Average Temperature"] = ""
weather_df["Historic Low Temp"] = ""
weather_df["Average High Temp"] = ""
weather_df["Average Low Temp"] = ""
weather_df["Historic High Temp"] = ""

for index, row in just_cities.iterrows():
    city_query = row['CityName']
    state_query = row['StateDesc']
    print(f"This is the city query {city_query}, {state_query}")
    try:
        
        ten_year_query = "average+temperature+for+" + city_query.replace(" ","+") + "+" + state_query.replace(" ","+") + "+past+ten+years"

        # Build query URL
        query_url = url + ten_year_query + "&appid=" + wolf_api_key
                       
        # Get Response
        response = requests.get(query_url).json()
                       
        # Obtain, then Append Overall Average Temp
        avg_temp = response["queryresult"]["pods"][1]["subpods"][0]["plaintext"]
        avg_temp_clean = int(avg_temp.split(" Â°F")[0])
        weather_df.loc[index, "Average Temperature"] = avg_temp_clean

        # Get Temp String (used for all other variables below)
        temp_string = response["queryresult"]["pods"][2]["subpods"][0]["plaintext"]
        
        # Historic Low Temp
        temp_low = temp_string.split(" | ")[2]
        temp_low = temp_low.split("low: ")[1]
        weather_df.loc[index, "Historic Low Temp"] = int(temp_low.split(" Â°F")[0])

        # Average High Temp
        temp_avghigh = temp_string.split(" | ")[4]
        weather_df.loc[index, "Average High Temp"] = int(temp_avghigh.split(" Â°F")[0])

        # Average Low Temp
        temp_avglow = temp_string.split(" | ")[5]
        weather_df.loc[index, "Average Low Temp"] = int(temp_avglow.split(" Â°F")[0])

        # Historic High Temp
        temp_high = temp_string.split(" | ")[6]
        temp_high = temp_high.split("high: ")[1]
        weather_df.loc[index, "Historic High Temp"] = int(temp_high.split(" Â°F")[0])
        
        # Add Place Holders
        weather_df.loc[index, "State"] = state_query
        weather_df.loc[index, "City"] = city_query
        weather_df.loc[index, "CityFIPS"] = row['CityFIPS']

#         # Temperature Range
#         average_temp_range_list.append(temp_avghigh - temp_avglow)
        
        print(f"Processing Record {row_count} of Set 1 | {city_query}, {state_query}")
        row_count += 1
         
    except Exception as e:
        # TODO Exception Handling needs to be Improved
        print(f"{city_query} not found")
        row_count += 1

weather_df.head()

Beginning Data Retrieval
------------------------
This is the city query Birmingham, Alabama
Processing Record 1 of Set 1 | Birmingham, Alabama
This is the city query Hoover, Alabama
Processing Record 2 of Set 1 | Hoover, Alabama
This is the city query Huntsville, Alabama
Processing Record 3 of Set 1 | Huntsville, Alabama
This is the city query Mobile, Alabama
Processing Record 4 of Set 1 | Mobile, Alabama
This is the city query Montgomery, Alabama
Processing Record 5 of Set 1 | Montgomery, Alabama
This is the city query Tuscaloosa, Alabama
Processing Record 6 of Set 1 | Tuscaloosa, Alabama
This is the city query Anchorage, Alaska
Processing Record 7 of Set 1 | Anchorage, Alaska
This is the city query Avondale, Arizona
Processing Record 8 of Set 1 | Avondale, Arizona
This is the city query Chandler, Arizona
Processing Record 9 of Set 1 | Chandler, Arizona
This is the city query Gilbert, Arizona
Processing Record 10 of Set 1 | Gilbert, Arizona
This is the city query Glendale, Arizona
Processing Record 11 of Set 1 | Glendale, Arizona
This is the city query Mesa, Arizona
Processing Record 12 of Set 1 | Mesa, Arizona
This is the city query Peoria, Arizona
Processing Record 13 of Set 1 | Peoria, Arizona
This is the city query Phoenix, Arizona
Processing Record 14 of Set 1 | Phoenix, Arizona
This is the city query Scottsdale, Arizona
Processing Record 15 of Set 1 | Scottsdale, Arizona
This is the city query Surprise, Arizona
Processing Record 16 of Set 1 | Surprise, Arizona
This is the city query Tempe, Arizona
Processing Record 17 of Set 1 | Tempe, Arizona
This is the city query Tucson, Arizona
Processing Record 18 of Set 1 | Tucson, Arizona
This is the city query Yuma, Arizona
Processing Record 19 of Set 1 | Yuma, Arizona
This is the city query Fayetteville, Arkansas
Processing Record 20 of Set 1 | Fayetteville, Arkansas
This is the city query Fort Smith, Arkansas
Processing Record 21 of Set 1 | Fort Smith, Arkansas
This is the city query Jonesboro, Arkansas
Processing Record 22 of Set 1 | Jonesboro, Arkansas
This is the city query Little Rock, Arkansas
Processing Record 23 of Set 1 | Little Rock, Arkansas
This is the city query Springdale, Arkansas
Processing Record 24 of Set 1 | Springdale, Arkansas
This is the city query Alameda, California
Processing Record 25 of Set 1 | Alameda, California
This is the city query Alhambra, California
Processing Record 26 of Set 1 | Alhambra, California
This is the city query Anaheim, California
Processing Record 27 of Set 1 | Anaheim, California
This is the city query Antioch, California
Processing Record 28 of Set 1 | Antioch, California
This is the city query Apple Valley, California
Processing Record 29 of Set 1 | Apple Valley, California
This is the city query Bakersfield, California
Processing Record 30 of Set 1 | Bakersfield, California
This is the city query Baldwin Park, California
Processing Record 31 of Set 1 | Baldwin Park, California
This is the city query Bellflower, California
Processing Record 32 of Set 1 | Bellflower, California
This is the city query Berkeley, California
Processing Record 33 of Set 1 | Berkeley, California
This is the city query Buena Park, California
Processing Record 34 of Set 1 | Buena Park, California
This is the city query Burbank, California
Processing Record 35 of Set 1 | Burbank, California
This is the city query Carlsbad, California
Processing Record 36 of Set 1 | Carlsbad, California
This is the city query Carson, California
Processing Record 37 of Set 1 | Carson, California
This is the city query Chico, California
Processing Record 38 of Set 1 | Chico, California
This is the city query Chino, California
Processing Record 39 of Set 1 | Chino, California
This is the city query Chino Hills, California
Processing Record 40 of Set 1 | Chino Hills, California
This is the city query Chula Vista, California
Processing Record 41 of Set 1 | Chula Vista, California
This is the city query Citrus Heights, California
Processing Record 42 of Set 1 | Citrus Heights, California
This is the city query Clovis, California
Processing Record 43 of Set 1 | Clovis, California
This is the city query Compton, California
Processing Record 44 of Set 1 | Compton, California
This is the city query Concord, California
Processing Record 45 of Set 1 | Concord, California
This is the city query Corona, California
Processing Record 46 of Set 1 | Corona, California
This is the city query Costa Mesa, California
Processing Record 47 of Set 1 | Costa Mesa, California
This is the city query Daly City, California
Processing Record 48 of Set 1 | Daly City, California
This is the city query Downey, California
Processing Record 49 of Set 1 | Downey, California
This is the city query El Cajon, California
Processing Record 50 of Set 1 | El Cajon, California
This is the city query Elk Grove, California
Processing Record 51 of Set 1 | Elk Grove, California
This is the city query El Monte, California
Processing Record 52 of Set 1 | El Monte, California
This is the city query Escondido, California
Processing Record 53 of Set 1 | Escondido, California
This is the city query Fairfield, California
Processing Record 54 of Set 1 | Fairfield, California
This is the city query Folsom, California
Processing Record 55 of Set 1 | Folsom, California
This is the city query Fontana, California
Processing Record 56 of Set 1 | Fontana, California
This is the city query Fremont, California
Processing Record 57 of Set 1 | Fremont, California
This is the city query Fresno, California
Processing Record 58 of Set 1 | Fresno, California
This is the city query Fullerton, California
Processing Record 59 of Set 1 | Fullerton, California
This is the city query Garden Grove, California
Processing Record 60 of Set 1 | Garden Grove, California
This is the city query Glendale, California
Processing Record 61 of Set 1 | Glendale, California
This is the city query Hawthorne, California
Processing Record 62 of Set 1 | Hawthorne, California
This is the city query Hayward, California
Processing Record 63 of Set 1 | Hayward, California
This is the city query Hemet, California
Processing Record 64 of Set 1 | Hemet, California
This is the city query Hesperia, California
Processing Record 65 of Set 1 | Hesperia, California
This is the city query Huntington Beach, California
Processing Record 66 of Set 1 | Huntington Beach, California
This is the city query Indio, California
Processing Record 67 of Set 1 | Indio, California
This is the city query Inglewood, California
Processing Record 68 of Set 1 | Inglewood, California
This is the city query Irvine, California
Processing Record 69 of Set 1 | Irvine, California
This is the city query Lake Forest, California
Processing Record 70 of Set 1 | Lake Forest, California
This is the city query Lakewood, California
Processing Record 71 of Set 1 | Lakewood, California
This is the city query Lancaster, California
Processing Record 72 of Set 1 | Lancaster, California
This is the city query Livermore, California
Processing Record 73 of Set 1 | Livermore, California
This is the city query Long Beach, California
Processing Record 74 of Set 1 | Long Beach, California
This is the city query Los Angeles, California
Processing Record 75 of Set 1 | Los Angeles, California
This is the city query Lynwood, California
Processing Record 76 of Set 1 | Lynwood, California
This is the city query Manteca, California
Processing Record 77 of Set 1 | Manteca, California
This is the city query Menifee, California
Menifee not found
This is the city query Merced, California
Processing Record 79 of Set 1 | Merced, California
This is the city query Milpitas, California
Processing Record 80 of Set 1 | Milpitas, California
This is the city query Mission Viejo, California
Processing Record 81 of Set 1 | Mission Viejo, California
This is the city query Modesto, California
Processing Record 82 of Set 1 | Modesto, California
This is the city query Moreno Valley, California
Processing Record 83 of Set 1 | Moreno Valley, California
This is the city query Mountain View, California
Processing Record 84 of Set 1 | Mountain View, California
This is the city query Murrieta, California
Processing Record 85 of Set 1 | Murrieta, California
This is the city query Napa, California

Processing Record 86 of Set 1 | Napa, California
This is the city query Newport Beach, California
Processing Record 87 of Set 1 | Newport Beach, California
This is the city query Norwalk, California
Processing Record 88 of Set 1 | Norwalk, California
This is the city query Oakland, California
Processing Record 89 of Set 1 | Oakland, California
This is the city query Oceanside, California
Processing Record 90 of Set 1 | Oceanside, California
This is the city query Ontario, California
Processing Record 91 of Set 1 | Ontario, California
This is the city query Orange, California
Processing Record 92 of Set 1 | Orange, California
This is the city query Oxnard, California
Processing Record 93 of Set 1 | Oxnard, California
This is the city query Palmdale, California
Processing Record 94 of Set 1 | Palmdale, California
This is the city query Pasadena, California
Processing Record 95 of Set 1 | Pasadena, California
This is the city query Perris, California
Processing Record 96 of Set 1 | Perris, California
This is the city query Pleasanton, California
Processing Record 97 of Set 1 | Pleasanton, California
This is the city query Pomona, California
Processing Record 98 of Set 1 | Pomona, California
This is the city query Rancho Cucamonga, California
Processing Record 99 of Set 1 | Rancho Cucamonga, California
This is the city query Redding, California
Processing Record 100 of Set 1 | Redding, California
This is the city query Redlands, California
Processing Record 101 of Set 1 | Redlands, California
This is the city query Redondo Beach, California
Processing Record 102 of Set 1 | Redondo Beach, California
This is the city query Redwood City, California
Processing Record 103 of Set 1 | Redwood City, California
This is the city query Rialto, California
Processing Record 104 of Set 1 | Rialto, California
This is the city query Richmond, California
Processing Record 105 of Set 1 | Richmond, California
This is the city query Riverside, California
Processing Record 106 of Set 1 | Riverside, California
This is the city query Roseville, California
Processing Record 107 of Set 1 | Roseville, California
This is the city query Sacramento, California
Processing Record 108 of Set 1 | Sacramento, California
This is the city query Salinas, California
Processing Record 109 of Set 1 | Salinas, California
This is the city query San Bernardino, California
Processing Record 110 of Set 1 | San Bernardino, California
This is the city query San Buenaventura (Ventura), California
San Buenaventura (Ventura) not found
This is the city query San Diego, California
Processing Record 112 of Set 1 | San Diego, California
This is the city query San Francisco, California
Processing Record 113 of Set 1 | San Francisco, California
This is the city query San Jose, California
Processing Record 114 of Set 1 | San Jose, California
This is the city query San Leandro, California
Processing Record 115 of Set 1 | San Leandro, California
This is the city query San Marcos, California
Processing Record 116 of Set 1 | San Marcos, California
This is the city query San Mateo, California
Processing Record 117 of Set 1 | San Mateo, California
This is the city query San Ramon, California
Processing Record 118 of Set 1 | San Ramon, California
This is the city query Santa Ana, California
Processing Record 119 of Set 1 | Santa Ana, California
This is the city query Santa Barbara, California
Santa Barbara not found
This is the city query Santa Clara, California
Processing Record 121 of Set 1 | Santa Clara, California
This is the city query Santa Clarita, California
Processing Record 122 of Set 1 | Santa Clarita, California
This is the city query Santa Maria, California
Processing Record 123 of Set 1 | Santa Maria, California
This is the city query Santa Monica, California
Processing Record 124 of Set 1 | Santa Monica, California
This is the city query Santa Rosa, California
Processing Record 125 of Set 1 | Santa Rosa, California
This is the city query Simi Valley, California
Processing Record 126 of Set 1 | Simi Valley, California
This is the city query South Gate, California
Processing Record 127 of Set 1 | South Gate, California
This is the city query Stockton, California
Processing Record 128 of Set 1 | Stockton, California
This is the city query Sunnyvale, California
Processing Record 129 of Set 1 | Sunnyvale, California
This is the city query Temecula, California
Processing Record 130 of Set 1 | Temecula, California
This is the city query Thousand Oaks, California
Processing Record 131 of Set 1 | Thousand Oaks, California
This is the city query Torrance, California
Processing Record 132 of Set 1 | Torrance, California
This is the city query Tracy, California
Processing Record 133 of Set 1 | Tracy, California
This is the city query Turlock, California
Processing Record 134 of Set 1 | Turlock, California
This is the city query Tustin, California
Processing Record 135 of Set 1 | Tustin, California
This is the city query Union City, California
Processing Record 136 of Set 1 | Union City, California
This is the city query Upland, California
Processing Record 137 of Set 1 | Upland, California
This is the city query Vacaville, California
Vacaville not found
This is the city query Vallejo, California
Processing Record 139 of Set 1 | Vallejo, California
This is the city query Victorville, California
Processing Record 140 of Set 1 | Victorville, California
This is the city query Visalia, California
Processing Record 141 of Set 1 | Visalia, California
This is the city query Vista, California
Processing Record 142 of Set 1 | Vista, California
This is the city query West Covina, California
Processing Record 143 of Set 1 | West Covina, California
This is the city query Westminster, California
Processing Record 144 of Set 1 | Westminster, California
This is the city query Whittier, California
Processing Record 145 of Set 1 | Whittier, California
This is the city query Arvada, Colorado
Processing Record 146 of Set 1 | Arvada, Colorado
This is the city query Aurora, Colorado
Processing Record 147 of Set 1 | Aurora, Colorado
This is the city query Boulder, Colorado
Boulder not found
This is the city query Centennial, Colorado
Processing Record 149 of Set 1 | Centennial, Colorado
This is the city query Colorado Springs, Colorado
Processing Record 150 of Set 1 | Colorado Springs, Colorado
This is the city query Denver, Colorado
Processing Record 151 of Set 1 | Denver, Colorado
This is the city query Fort Collins, Colorado
Processing Record 152 of Set 1 | Fort Collins, Colorado
This is the city query Greeley, Colorado
Processing Record 153 of Set 1 | Greeley, Colorado
This is the city query Lakewood, Colorado
Processing Record 154 of Set 1 | Lakewood, Colorado
This is the city query Longmont, Colorado
Processing Record 155 of Set 1 | Longmont, Colorado
This is the city query Loveland, Colorado
Loveland not found
This is the city query Pueblo, Colorado
Processing Record 157 of Set 1 | Pueblo, Colorado
This is the city query Thornton, Colorado
Processing Record 158 of Set 1 | Thornton, Colorado
This is the city query Westminster, Colorado
Processing Record 159 of Set 1 | Westminster, Colorado
This is the city query Bridgeport, Connecticut
Processing Record 160 of Set 1 | Bridgeport, Connecticut
This is the city query Danbury, Connecticut
Processing Record 161 of Set 1 | Danbury, Connecticut
This is the city query Hartford, Connecticut
Processing Record 162 of Set 1 | Hartford, Connecticut
This is the city query New Britain, Connecticut
Processing Record 163 of Set 1 | New Britain, Connecticut
This is the city query New Haven, Connecticut
Processing Record 164 of Set 1 | New Haven, Connecticut
This is the city query Norwalk, Connecticut
Processing Record 165 of Set 1 | Norwalk, Connecticut
This is the city query Stamford, Connecticut
Processing Record 166 of Set 1 | Stamford, Connecticut
This is the city query Waterbury, Connecticut
Processing Record 167 of Set 1 | Waterbury, Connecticut
This is the city query Wilmington, Delaware
Processing Record 168 of Set 1 | Wilmington, Delaware
This is the city query Washington, District of C
Washington not found
This is the city query Boca Raton, Florida
Processing Record 170 of Set 1 | Boca Raton, Florida
This is the city query Boynton Beach, Florida

Processing Record 171 of Set 1 | Boynton Beach, Florida
This is the city query Cape Coral, Florida
Processing Record 172 of Set 1 | Cape Coral, Florida
This is the city query Clearwater, Florida
Processing Record 173 of Set 1 | Clearwater, Florida
This is the city query Coral Springs, Florida
Processing Record 174 of Set 1 | Coral Springs, Florida
This is the city query Davie, Florida
Processing Record 175 of Set 1 | Davie, Florida
This is the city query Deerfield Beach, Florida
Processing Record 176 of Set 1 | Deerfield Beach, Florida
This is the city query Deltona, Florida
Processing Record 177 of Set 1 | Deltona, Florida
This is the city query Fort Lauderdale, Florida
Processing Record 178 of Set 1 | Fort Lauderdale, Florida
This is the city query Gainesville, Florida
Processing Record 179 of Set 1 | Gainesville, Florida
This is the city query Hialeah, Florida
Processing Record 180 of Set 1 | Hialeah, Florida
This is the city query Hollywood, Florida
Processing Record 181 of Set 1 | Hollywood, Florida
This is the city query Jacksonville, Florida
Processing Record 182 of Set 1 | Jacksonville, Florida
This is the city query Lakeland, Florida
Processing Record 183 of Set 1 | Lakeland, Florida
This is the city query Largo, Florida
Processing Record 184 of Set 1 | Largo, Florida
This is the city query Lauderhill, Florida
Processing Record 185 of Set 1 | Lauderhill, Florida
This is the city query Melbourne, Florida
Processing Record 186 of Set 1 | Melbourne, Florida
This is the city query Miami, Florida
Processing Record 187 of Set 1 | Miami, Florida
This is the city query Miami Beach, Florida
Processing Record 188 of Set 1 | Miami Beach, Florida
This is the city query Miami Gardens, Florida
Processing Record 189 of Set 1 | Miami Gardens, Florida
This is the city query Miramar, Florida
Processing Record 190 of Set 1 | Miramar, Florida
This is the city query Orlando, Florida
Processing Record 191 of Set 1 | Orlando, Florida
This is the city query Palm Bay, Florida
Processing Record 192 of Set 1 | Palm Bay, Florida
This is the city query Palm Coast, Florida
Processing Record 193 of Set 1 | Palm Coast, Florida
This is the city query Pembroke Pines, Florida
Processing Record 194 of Set 1 | Pembroke Pines, Florida
This is the city query Plantation, Florida
Processing Record 195 of Set 1 | Plantation, Florida
This is the city query Pompano Beach, Florida
Processing Record 196 of Set 1 | Pompano Beach, Florida
This is the city query Port St. Lucie, Florida
Processing Record 197 of Set 1 | Port St. Lucie, Florida
This is the city query St. Petersburg, Florida
Processing Record 198 of Set 1 | St. Petersburg, Florida
This is the city query Sunrise, Florida
Sunrise not found
This is the city query Tallahassee, Florida
Processing Record 200 of Set 1 | Tallahassee, Florida
This is the city query Tampa, Florida
Processing Record 201 of Set 1 | Tampa, Florida
This is the city query West Palm Beach, Florida
Processing Record 202 of Set 1 | West Palm Beach, Florida
This is the city query Albany, Georgia
Processing Record 203 of Set 1 | Albany, Georgia
This is the city query Athens, Georgia
Processing Record 204 of Set 1 | Athens, Georgia
This is the city query Atlanta, Georgia
Processing Record 205 of Set 1 | Atlanta, Georgia
This is the city query Augusta, Georgia
Processing Record 206 of Set 1 | Augusta, Georgia
This is the city query Columbus, Georgia
Processing Record 207 of Set 1 | Columbus, Georgia
This is the city query Johns Creek, Georgia
Processing Record 208 of Set 1 | Johns Creek, Georgia
This is the city query Macon, Georgia
Processing Record 209 of Set 1 | Macon, Georgia
This is the city query Roswell, Georgia
Processing Record 210 of Set 1 | Roswell, Georgia
This is the city query Sandy Springs, Georgia
Processing Record 211 of Set 1 | Sandy Springs, Georgia
This is the city query Savannah, Georgia
Processing Record 212 of Set 1 | Savannah, Georgia
This is the city query Warner Robins, Georgia
Processing Record 213 of Set 1 | Warner Robins, Georgia
This is the city query Honolulu, Hawaii
Processing Record 214 of Set 1 | Honolulu, Hawaii
This is the city query Boise City, Idaho
Processing Record 215 of Set 1 | Boise City, Idaho
This is the city query Meridian, Idaho
Processing Record 216 of Set 1 | Meridian, Idaho
This is the city query Nampa, Idaho
Processing Record 217 of Set 1 | Nampa, Idaho
This is the city query Arlington Heights, Illinois
Processing Record 218 of Set 1 | Arlington Heights, Illinois
This is the city query Aurora, Illinois
Processing Record 219 of Set 1 | Aurora, Illinois
This is the city query Bloomington, Illinois
Processing Record 220 of Set 1 | Bloomington, Illinois
This is the city query Bolingbrook, Illinois
Processing Record 221 of Set 1 | Bolingbrook, Illinois
This is the city query Champaign, Illinois
Processing Record 222 of Set 1 | Champaign, Illinois
This is the city query Chicago, Illinois
Processing Record 223 of Set 1 | Chicago, Illinois
This is the city query Cicero, Illinois
Processing Record 224 of Set 1 | Cicero, Illinois
This is the city query Decatur, Illinois
Processing Record 225 of Set 1 | Decatur, Illinois
This is the city query Elgin, Illinois
Processing Record 226 of Set 1 | Elgin, Illinois
This is the city query Evanston, Illinois
Processing Record 227 of Set 1 | Evanston, Illinois
This is the city query Joliet, Illinois
Processing Record 228 of Set 1 | Joliet, Illinois
This is the city query Naperville, Illinois
Processing Record 229 of Set 1 | Naperville, Illinois
This is the city query Palatine, Illinois
Processing Record 230 of Set 1 | Palatine, Illinois
This is the city query Peoria, Illinois
Processing Record 231 of Set 1 | Peoria, Illinois
This is the city query Rockford, Illinois
Processing Record 232 of Set 1 | Rockford, Illinois
This is the city query Schaumburg, Illinois
Processing Record 233 of Set 1 | Schaumburg, Illinois
This is the city query Springfield, Illinois
Processing Record 234 of Set 1 | Springfield, Illinois
This is the city query Waukegan, Illinois
Processing Record 235 of Set 1 | Waukegan, Illinois
This is the city query Bloomington, Indiana
Processing Record 236 of Set 1 | Bloomington, Indiana
This is the city query Carmel, Indiana
Processing Record 237 of Set 1 | Carmel, Indiana
This is the city query Evansville, Indiana
Processing Record 238 of Set 1 | Evansville, Indiana
This is the city query Fishers, Indiana
Fishers not found
This is the city query Fort Wayne, Indiana
Processing Record 240 of Set 1 | Fort Wayne, Indiana
This is the city query Gary, Indiana
Processing Record 241 of Set 1 | Gary, Indiana
This is the city query Hammond, Indiana
Processing Record 242 of Set 1 | Hammond, Indiana
This is the city query Indianapolis, Indiana
Processing Record 243 of Set 1 | Indianapolis, Indiana
This is the city query Lafayette, Indiana
Processing Record 244 of Set 1 | Lafayette, Indiana
This is the city query Muncie, Indiana
Processing Record 245 of Set 1 | Muncie, Indiana
This is the city query South Bend, Indiana
Processing Record 246 of Set 1 | South Bend, Indiana
This is the city query Cedar Rapids, Iowa
Processing Record 247 of Set 1 | Cedar Rapids, Iowa
This is the city query Davenport, Iowa
Processing Record 248 of Set 1 | Davenport, Iowa
This is the city query Des Moines, Iowa
Processing Record 249 of Set 1 | Des Moines, Iowa
This is the city query Iowa City, Iowa
Processing Record 250 of Set 1 | Iowa City, Iowa
This is the city query Sioux City, Iowa
Processing Record 251 of Set 1 | Sioux City, Iowa
This is the city query Waterloo, Iowa
Processing Record 252 of Set 1 | Waterloo, Iowa
This is the city query Kansas City, Kansas
Processing Record 253 of Set 1 | Kansas City, Kansas
This is the city query Lawrence, Kansas
Processing Record 254 of Set 1 | Lawrence, Kansas
This is the city query Olathe, Kansas
Olathe not found
This is the city query Overland Park, Kansas
Processing Record 256 of Set 1 | Overland Park, Kansas
This is the city query Topeka, Kansas
Processing Record 257 of Set 1 | Topeka, Kansas
This is the city query Wichita, Kansas
Processing Record 258 of Set 1 | Wichita, Kansas
This is the city query Lexington, Kentucky
Processing Record 259 of Set 1 | Lexington, Kentucky
This is the city query Louisville, Kentucky

Processing Record 260 of Set 1 | Louisville, Kentucky
This is the city query Baton Rouge, Louisiana
Processing Record 261 of Set 1 | Baton Rouge, Louisiana
This is the city query Kenner, Louisiana
Processing Record 262 of Set 1 | Kenner, Louisiana
This is the city query Lafayette, Louisiana
Processing Record 263 of Set 1 | Lafayette, Louisiana
This is the city query Lake Charles, Louisiana
Processing Record 264 of Set 1 | Lake Charles, Louisiana
This is the city query New Orleans, Louisiana
Processing Record 265 of Set 1 | New Orleans, Louisiana
This is the city query Shreveport, Louisiana
Processing Record 266 of Set 1 | Shreveport, Louisiana
This is the city query Portland, Maine
Processing Record 267 of Set 1 | Portland, Maine
This is the city query Baltimore, Maryland
Processing Record 268 of Set 1 | Baltimore, Maryland
This is the city query Boston, Massachusetts
Processing Record 269 of Set 1 | Boston, Massachusetts
This is the city query Brockton, Massachusetts
Processing Record 270 of Set 1 | Brockton, Massachusetts
This is the city query Cambridge, Massachusetts
Processing Record 271 of Set 1 | Cambridge, Massachusetts
This is the city query Fall River, Massachusetts
Processing Record 272 of Set 1 | Fall River, Massachusetts
This is the city query Lawrence, Massachusetts
Processing Record 273 of Set 1 | Lawrence, Massachusetts
This is the city query Lowell, Massachusetts
Processing Record 274 of Set 1 | Lowell, Massachusetts
This is the city query Lynn, Massachusetts
Processing Record 275 of Set 1 | Lynn, Massachusetts
This is the city query New Bedford, Massachusetts
Processing Record 276 of Set 1 | New Bedford, Massachusetts
This is the city query Newton, Massachusetts
Processing Record 277 of Set 1 | Newton, Massachusetts
This is the city query Quincy, Massachusetts
Processing Record 278 of Set 1 | Quincy, Massachusetts
This is the city query Somerville, Massachusetts
Processing Record 279 of Set 1 | Somerville, Massachusetts
This is the city query Springfield, Massachusetts
Processing Record 280 of Set 1 | Springfield, Massachusetts
This is the city query Worcester, Massachusetts
Processing Record 281 of Set 1 | Worcester, Massachusetts
This is the city query Ann Arbor, Michigan
Processing Record 282 of Set 1 | Ann Arbor, Michigan
This is the city query Dearborn, Michigan
Processing Record 283 of Set 1 | Dearborn, Michigan
This is the city query Detroit, Michigan
Processing Record 284 of Set 1 | Detroit, Michigan
This is the city query Farmington Hills, Michigan
Processing Record 285 of Set 1 | Farmington Hills, Michigan
This is the city query Flint, Michigan
Processing Record 286 of Set 1 | Flint, Michigan
This is the city query Troy, Michigan
Processing Record 287 of Set 1 | Troy, Michigan
This is the city query Grand Rapids, Michigan
Processing Record 288 of Set 1 | Grand Rapids, Michigan
This is the city query Kalamazoo, Michigan
Processing Record 289 of Set 1 | Kalamazoo, Michigan
This is the city query Lansing, Michigan
Processing Record 290 of Set 1 | Lansing, Michigan
This is the city query Livonia, Michigan
Processing Record 291 of Set 1 | Livonia, Michigan
This is the city query Rochester Hills, Michigan
Processing Record 292 of Set 1 | Rochester Hills, Michigan
This is the city query Southfield, Michigan
Processing Record 293 of Set 1 | Southfield, Michigan
This is the city query Sterling Heights, Michigan
Processing Record 294 of Set 1 | Sterling Heights, Michigan
This is the city query Warren, Michigan
Processing Record 295 of Set 1 | Warren, Michigan
This is the city query Westland, Michigan
Processing Record 296 of Set 1 | Westland, Michigan
This is the city query Wyoming, Michigan
Wyoming not found
This is the city query Bloomington, Minnesota
Processing Record 298 of Set 1 | Bloomington, Minnesota
This is the city query Brooklyn Park, Minnesota
Processing Record 299 of Set 1 | Brooklyn Park, Minnesota
This is the city query Duluth, Minnesota
Processing Record 300 of Set 1 | Duluth, Minnesota
This is the city query Minneapolis, Minnesota
Processing Record 301 of Set 1 | Minneapolis, Minnesota
This is the city query Plymouth, Minnesota
Processing Record 302 of Set 1 | Plymouth, Minnesota
This is the city query Rochester, Minnesota
Processing Record 303 of Set 1 | Rochester, Minnesota
This is the city query St. Paul, Minnesota
Processing Record 304 of Set 1 | St. Paul, Minnesota
This is the city query Gulfport, Mississippi
Processing Record 305 of Set 1 | Gulfport, Mississippi
This is the city query Jackson, Mississippi
Processing Record 306 of Set 1 | Jackson, Mississippi
This is the city query Columbia, Missouri
Processing Record 307 of Set 1 | Columbia, Missouri
This is the city query Independence, Missouri
Processing Record 308 of Set 1 | Independence, Missouri
This is the city query Kansas City, Missouri
Processing Record 309 of Set 1 | Kansas City, Missouri
This is the city query Lee's Summit, Missouri
Processing Record 310 of Set 1 | Lee's Summit, Missouri
This is the city query O'Fallon, Missouri
Processing Record 311 of Set 1 | O'Fallon, Missouri
This is the city query St. Joseph, Missouri
Processing Record 312 of Set 1 | St. Joseph, Missouri
This is the city query St. Louis, Missouri
Processing Record 313 of Set 1 | St. Louis, Missouri
This is the city query Springfield, Missouri
Processing Record 314 of Set 1 | Springfield, Missouri
This is the city query Billings, Montana
Processing Record 315 of Set 1 | Billings, Montana
This is the city query Missoula, Montana
Processing Record 316 of Set 1 | Missoula, Montana
This is the city query Lincoln, Nebraska
Processing Record 317 of Set 1 | Lincoln, Nebraska
This is the city query Omaha, Nebraska
Processing Record 318 of Set 1 | Omaha, Nebraska
This is the city query Henderson, Nevada
Processing Record 319 of Set 1 | Henderson, Nevada
This is the city query Las Vegas, Nevada
Processing Record 320 of Set 1 | Las Vegas, Nevada
This is the city query North Las Vegas, Nevada
Processing Record 321 of Set 1 | North Las Vegas, Nevada
This is the city query Reno, Nevada
Processing Record 322 of Set 1 | Reno, Nevada
This is the city query Sparks, Nevada
Processing Record 323 of Set 1 | Sparks, Nevada
This is the city query Manchester, New Hampshire
Processing Record 324 of Set 1 | Manchester, New Hampshire
This is the city query Nashua, New Hampshire
Processing Record 325 of Set 1 | Nashua, New Hampshire
This is the city query Camden, New Jersey
Processing Record 326 of Set 1 | Camden, New Jersey
This is the city query Clifton, New Jersey
Processing Record 327 of Set 1 | Clifton, New Jersey
This is the city query Elizabeth, New Jersey
Elizabeth not found
This is the city query Jersey City, New Jersey
Jersey City not found
This is the city query Newark, New Jersey
Processing Record 330 of Set 1 | Newark, New Jersey
This is the city query Passaic, New Jersey
Processing Record 331 of Set 1 | Passaic, New Jersey
This is the city query Paterson, New Jersey
Processing Record 332 of Set 1 | Paterson, New Jersey
This is the city query Trenton, New Jersey
Processing Record 333 of Set 1 | Trenton, New Jersey
This is the city query Union City, New Jersey
Processing Record 334 of Set 1 | Union City, New Jersey
This is the city query Albuquerque, New Mexico
Processing Record 335 of Set 1 | Albuquerque, New Mexico
This is the city query Rio Rancho, New Mexico
Processing Record 336 of Set 1 | Rio Rancho, New Mexico
This is the city query Las Cruces, New Mexico
Processing Record 337 of Set 1 | Las Cruces, New Mexico
This is the city query Santa Fe, New Mexico
Santa Fe not found
This is the city query Albany, New York
Albany not found
This is the city query Buffalo, New York
Buffalo not found
This is the city query Mount Vernon, New York
Processing Record 341 of Set 1 | Mount Vernon, New York
This is the city query New Rochelle, New York
Processing Record 342 of Set 1 | New Rochelle, New York
This is the city query New York, New York
Processing Record 343 of Set 1 | New York, New York
This is the city query Rochester, New York
Rochester not found
This is the city query Schenectady, New York
Processing Record 345 of Set 1 | Schenectady, New York
This is the city query Syracuse, New York

Processing Record 346 of Set 1 | Syracuse, New York
This is the city query Yonkers, New York
Yonkers not found
This is the city query Asheville, North Carolin
Asheville not found
This is the city query Cary, North Carolin
Cary not found
This is the city query Charlotte, North Carolin
Charlotte not found
This is the city query Concord, North Carolin
Concord not found
This is the city query Durham, North Carolin
Durham not found
This is the city query Fayetteville, North Carolin
Fayetteville not found
This is the city query Gastonia, North Carolin
Gastonia not found
This is the city query Greensboro, North Carolin
Greensboro not found
This is the city query Greenville, North Carolin
Greenville not found
This is the city query High Point, North Carolin
High Point not found
This is the city query Jacksonville, North Carolin
Jacksonville not found
This is the city query Raleigh, North Carolin
Raleigh not found
This is the city query Wilmington, North Carolin
Wilmington not found
This is the city query Winston-Salem, North Carolin
Winston-Salem not found
This is the city query Fargo, North Dakota
Processing Record 362 of Set 1 | Fargo, North Dakota
This is the city query Akron, Ohio
Processing Record 363 of Set 1 | Akron, Ohio
This is the city query Canton, Ohio
Processing Record 364 of Set 1 | Canton, Ohio
This is the city query Cincinnati, Ohio
Processing Record 365 of Set 1 | Cincinnati, Ohio
This is the city query Cleveland, Ohio
Processing Record 366 of Set 1 | Cleveland, Ohio
This is the city query Columbus, Ohio
Processing Record 367 of Set 1 | Columbus, Ohio
This is the city query Dayton, Ohio
Processing Record 368 of Set 1 | Dayton, Ohio
This is the city query Parma, Ohio
Processing Record 369 of Set 1 | Parma, Ohio
This is the city query Toledo, Ohio
Processing Record 370 of Set 1 | Toledo, Ohio
This is the city query Youngstown, Ohio
Processing Record 371 of Set 1 | Youngstown, Ohio
This is the city query Broken Arrow, Oklahoma
Processing Record 372 of Set 1 | Broken Arrow, Oklahoma
This is the city query Edmond, Oklahoma
Processing Record 373 of Set 1 | Edmond, Oklahoma
This is the city query Lawton, Oklahoma
Processing Record 374 of Set 1 | Lawton, Oklahoma
This is the city query Norman, Oklahoma
Processing Record 375 of Set 1 | Norman, Oklahoma
This is the city query Oklahoma City, Oklahoma
Processing Record 376 of Set 1 | Oklahoma City, Oklahoma
This is the city query Tulsa, Oklahoma
Processing Record 377 of Set 1 | Tulsa, Oklahoma
This is the city query Beaverton, Oregon
Processing Record 378 of Set 1 | Beaverton, Oregon
This is the city query Bend, Oregon
Processing Record 379 of Set 1 | Bend, Oregon
This is the city query Eugene, Oregon
Processing Record 380 of Set 1 | Eugene, Oregon
This is the city query Gresham, Oregon
Processing Record 381 of Set 1 | Gresham, Oregon
This is the city query Hillsboro, Oregon
Processing Record 382 of Set 1 | Hillsboro, Oregon
This is the city query Medford, Oregon
Processing Record 383 of Set 1 | Medford, Oregon
This is the city query Portland, Oregon
Processing Record 384 of Set 1 | Portland, Oregon
This is the city query Salem, Oregon
Processing Record 385 of Set 1 | Salem, Oregon
This is the city query Allentown, Pennsylvania
Allentown not found
This is the city query Bethlehem, Pennsylvania
Processing Record 387 of Set 1 | Bethlehem, Pennsylvania
This is the city query Erie, Pennsylvania
Processing Record 388 of Set 1 | Erie, Pennsylvania
This is the city query Philadelphia, Pennsylvania
Processing Record 389 of Set 1 | Philadelphia, Pennsylvania
This is the city query Pittsburgh, Pennsylvania
Processing Record 390 of Set 1 | Pittsburgh, Pennsylvania
This is the city query Reading, Pennsylvania
Processing Record 391 of Set 1 | Reading, Pennsylvania
This is the city query Scranton, Pennsylvania
Processing Record 392 of Set 1 | Scranton, Pennsylvania
This is the city query Cranston, Rhode Island
Processing Record 393 of Set 1 | Cranston, Rhode Island
This is the city query Pawtucket, Rhode Island
Processing Record 394 of Set 1 | Pawtucket, Rhode Island
This is the city query Providence, Rhode Island
Processing Record 395 of Set 1 | Providence, Rhode Island
This is the city query Warwick, Rhode Island
Processing Record 396 of Set 1 | Warwick, Rhode Island
This is the city query Charleston, South Carolin
Charleston not found
This is the city query Columbia, South Carolin
Columbia not found
This is the city query Mount Pleasant, South Carolin
Mount Pleasant not found
This is the city query North Charleston, South Carolin
North Charleston not found
This is the city query Rock Hill, South Carolin
Rock Hill not found
This is the city query Rapid City, South Dakota
Processing Record 402 of Set 1 | Rapid City, South Dakota
This is the city query Sioux Falls, South Dakota
Processing Record 403 of Set 1 | Sioux Falls, South Dakota
This is the city query Chattanooga, Tennessee
Processing Record 404 of Set 1 | Chattanooga, Tennessee
This is the city query Clarksville, Tennessee
Processing Record 405 of Set 1 | Clarksville, Tennessee
This is the city query Knoxville, Tennessee
Processing Record 406 of Set 1 | Knoxville, Tennessee
This is the city query Memphis, Tennessee
Processing Record 407 of Set 1 | Memphis, Tennessee
This is the city query Murfreesboro, Tennessee
Processing Record 408 of Set 1 | Murfreesboro, Tennessee
This is the city query Nashville, Tennessee
Processing Record 409 of Set 1 | Nashville, Tennessee
This is the city query Abilene, Texas
Processing Record 410 of Set 1 | Abilene, Texas
This is the city query Allen, Texas
Processing Record 411 of Set 1 | Allen, Texas
This is the city query Amarillo, Texas
Processing Record 412 of Set 1 | Amarillo, Texas
This is the city query Arlington, Texas
Processing Record 413 of Set 1 | Arlington, Texas
This is the city query Austin, Texas
Processing Record 414 of Set 1 | Austin, Texas
This is the city query Baytown, Texas
Processing Record 415 of Set 1 | Baytown, Texas
This is the city query Beaumont, Texas
Processing Record 416 of Set 1 | Beaumont, Texas
This is the city query Brownsville, Texas
Processing Record 417 of Set 1 | Brownsville, Texas
This is the city query Bryan, Texas
Processing Record 418 of Set 1 | Bryan, Texas
This is the city query Carrollton, Texas
Processing Record 419 of Set 1 | Carrollton, Texas
This is the city query College Station, Texas
Processing Record 420 of Set 1 | College Station, Texas
This is the city query Corpus Christi, Texas
Processing Record 421 of Set 1 | Corpus Christi, Texas
This is the city query Dallas, Texas
Processing Record 422 of Set 1 | Dallas, Texas
This is the city query Denton, Texas
Processing Record 423 of Set 1 | Denton, Texas
This is the city query Edinburg, Texas
Processing Record 424 of Set 1 | Edinburg, Texas
This is the city query El Paso, Texas
Processing Record 425 of Set 1 | El Paso, Texas
This is the city query Fort Worth, Texas
Processing Record 426 of Set 1 | Fort Worth, Texas
This is the city query Frisco, Texas
Processing Record 427 of Set 1 | Frisco, Texas
This is the city query Garland, Texas
Processing Record 428 of Set 1 | Garland, Texas
This is the city query Grand Prairie, Texas
Processing Record 429 of Set 1 | Grand Prairie, Texas
This is the city query Houston, Texas
Processing Record 430 of Set 1 | Houston, Texas
This is the city query Irving, Texas
Processing Record 431 of Set 1 | Irving, Texas
This is the city query Killeen, Texas
Processing Record 432 of Set 1 | Killeen, Texas
This is the city query Laredo, Texas
Processing Record 433 of Set 1 | Laredo, Texas
This is the city query League City, Texas
Processing Record 434 of Set 1 | League City, Texas
This is the city query Lewisville, Texas
Processing Record 435 of Set 1 | Lewisville, Texas
This is the city query Longview, Texas
Processing Record 436 of Set 1 | Longview, Texas
This is the city query Lubbock, Texas
Processing Record 437 of Set 1 | Lubbock, Texas
This is the city query McAllen, Texas
Processing Record 438 of Set 1 | McAllen, Texas
This is the city query McKinney, Texas
Processing Record 439 of Set 1 | McKinney, Texas
This is the city query Mesquite, Texas
Processing Record 440 of Set 1 | Mesquite, Texas
This is the city query Midland, Texas

Processing Record 441 of Set 1 | Midland, Texas
This is the city query Mission, Texas
Processing Record 442 of Set 1 | Mission, Texas
This is the city query Missouri City, Texas
Processing Record 443 of Set 1 | Missouri City, Texas
This is the city query Odessa, Texas
Processing Record 444 of Set 1 | Odessa, Texas
This is the city query Pasadena, Texas
Processing Record 445 of Set 1 | Pasadena, Texas
This is the city query Pearland, Texas
Processing Record 446 of Set 1 | Pearland, Texas
This is the city query Pharr, Texas
Processing Record 447 of Set 1 | Pharr, Texas
This is the city query Plano, Texas
Processing Record 448 of Set 1 | Plano, Texas
This is the city query Richardson, Texas
Processing Record 449 of Set 1 | Richardson, Texas
This is the city query Round Rock, Texas
Processing Record 450 of Set 1 | Round Rock, Texas
This is the city query San Angelo, Texas
Processing Record 451 of Set 1 | San Angelo, Texas
This is the city query San Antonio, Texas
Processing Record 452 of Set 1 | San Antonio, Texas
This is the city query Sugar Land, Texas
Processing Record 453 of Set 1 | Sugar Land, Texas
This is the city query Tyler, Texas
Processing Record 454 of Set 1 | Tyler, Texas
This is the city query Waco, Texas
Processing Record 455 of Set 1 | Waco, Texas
This is the city query Wichita Falls, Texas
Processing Record 456 of Set 1 | Wichita Falls, Texas
This is the city query Layton, Utah
Processing Record 457 of Set 1 | Layton, Utah
This is the city query Ogden, Utah
Processing Record 458 of Set 1 | Ogden, Utah
This is the city query Orem, Utah
Processing Record 459 of Set 1 | Orem, Utah
This is the city query Provo, Utah
Processing Record 460 of Set 1 | Provo, Utah
This is the city query St. George, Utah
Processing Record 461 of Set 1 | St. George, Utah
This is the city query Salt Lake City, Utah
Processing Record 462 of Set 1 | Salt Lake City, Utah
This is the city query Sandy, Utah
Processing Record 463 of Set 1 | Sandy, Utah
This is the city query West Jordan, Utah
Processing Record 464 of Set 1 | West Jordan, Utah
This is the city query West Valley City, Utah
Processing Record 465 of Set 1 | West Valley City, Utah
This is the city query Burlington, Vermont
Processing Record 466 of Set 1 | Burlington, Vermont
This is the city query Alexandria, Virginia
Processing Record 467 of Set 1 | Alexandria, Virginia
This is the city query Chesapeake, Virginia
Processing Record 468 of Set 1 | Chesapeake, Virginia
This is the city query Hampton, Virginia
Processing Record 469 of Set 1 | Hampton, Virginia
This is the city query Lynchburg, Virginia
Processing Record 470 of Set 1 | Lynchburg, Virginia
This is the city query Newport News, Virginia
Processing Record 471 of Set 1 | Newport News, Virginia
This is the city query Norfolk, Virginia
Processing Record 472 of Set 1 | Norfolk, Virginia
This is the city query Portsmouth, Virginia
Processing Record 473 of Set 1 | Portsmouth, Virginia
This is the city query Richmond, Virginia
Processing Record 474 of Set 1 | Richmond, Virginia
This is the city query Roanoke, Virginia
Processing Record 475 of Set 1 | Roanoke, Virginia
This is the city query Suffolk, Virginia
Processing Record 476 of Set 1 | Suffolk, Virginia
This is the city query Virginia Beach, Virginia
Processing Record 477 of Set 1 | Virginia Beach, Virginia
This is the city query Auburn, Washington
Processing Record 478 of Set 1 | Auburn, Washington
This is the city query Bellevue, Washington
Processing Record 479 of Set 1 | Bellevue, Washington
This is the city query Bellingham, Washington
Processing Record 480 of Set 1 | Bellingham, Washington
This is the city query Everett, Washington
Processing Record 481 of Set 1 | Everett, Washington
This is the city query Federal Way, Washington
Processing Record 482 of Set 1 | Federal Way, Washington
This is the city query Kennewick, Washington
Processing Record 483 of Set 1 | Kennewick, Washington
This is the city query Kent, Washington
Processing Record 484 of Set 1 | Kent, Washington
This is the city query Renton, Washington
Processing Record 485 of Set 1 | Renton, Washington
This is the city query Seattle, Washington
Processing Record 486 of Set 1 | Seattle, Washington
This is the city query Spokane, Washington
Processing Record 487 of Set 1 | Spokane, Washington
This is the city query Spokane Valley, Washington
Processing Record 488 of Set 1 | Spokane Valley, Washington
This is the city query Tacoma, Washington
Tacoma not found
This is the city query Vancouver, Washington
Vancouver not found
This is the city query Yakima, Washington
Processing Record 491 of Set 1 | Yakima, Washington
This is the city query Charleston, West Virginia
Processing Record 492 of Set 1 | Charleston, West Virginia
This is the city query Appleton, Wisconsin
Processing Record 493 of Set 1 | Appleton, Wisconsin
This is the city query Green Bay, Wisconsin
Processing Record 494 of Set 1 | Green Bay, Wisconsin
This is the city query Kenosha, Wisconsin
Processing Record 495 of Set 1 | Kenosha, Wisconsin
This is the city query Madison, Wisconsin
Processing Record 496 of Set 1 | Madison, Wisconsin
This is the city query Milwaukee, Wisconsin
Processing Record 497 of Set 1 | Milwaukee, Wisconsin
This is the city query Racine, Wisconsin
Processing Record 498 of Set 1 | Racine, Wisconsin
This is the city query Waukesha, Wisconsin
Processing Record 499 of Set 1 | Waukesha, Wisconsin
This is the city query Cheyenne, Wyoming
Processing Record 500 of Set 1 | Cheyenne, Wyoming

,Average Temperature,Historic Low Temp,Average High Temp,Average Low Temp,Historic High Temp,State,City,CityFIPS
56,63.0,11.0,83.0,42.0,104.0,Alabama,Birmingham,107000.0
2851,63.0,11.0,83.0,42.0,104.0,Alabama,Hoover,135896.0
3713,59.0,5.0,81.0,37.0,102.0,Alabama,Huntsville,137000.0
5549,67.0,18.0,84.0,48.0,102.0,Alabama,Mobile,150000.0
7779,64.0,16.0,85.0,45.0,102.0,Alabama,Montgomery,151000.0

In [31]:
weather_df.to_csv("output/weather_df.csv")

# Census Data

In [102]:
from census import Census
from us import states
import gmaps

# Census & gmaps API Keys
from config import (census_api_key, gkey)
c = Census(census_api_key, year=2013)

# Configure gmaps
gmaps.configure(api_key=gkey)

In [6]:
# What is Available
# pprint(c.acs5.tables())

In [97]:
# Figuring out CityFIPS
# US places
# (example: Fresno city in California is "27000", or prefixed with the state code "0627000")
# state_place(fields, state_fips, place)


# Address	2630 CAHABA RD, BIRMINGHAM, AL, 35223
# MSA/MD Code	13820
# State Code	01
# County Code	073
# Tract Code	0108.02
# MSA/MD Name	BIRMINGHAM-HOOVER, AL
# State Name	ALABAMA
# County Name	JEFFERSON COUNTY

# In the CSV = 0107000-01073010802
# so State code = 01, Place Code = 07000





# # state_county_tract Specification
# state_county_tract(fields, state_fips, county_fips, tract)

# #The geographic name for all census tracts for county 170 in Alaska:
# c.sf1.get('NAME', geo={'for': 'tract:*',
#                        'in': 'state:{} county:170'.format(states.AK.fips)})

# #The same call using the state_county_tract convenience method:
# c.sf1.state_county_tract('NAME', states.AK.fips, '170', Census.ALL)



# #The Format To Use
# state_place(fields, state_fips, place)


# Make Example DataFrame
# example_df = pd.DataFrame({
#     "CityFIPS": ["107000.0","0135896.0","0137000.0"]
# })
# example_df.head()



# Copy DataFrame
census_cities_df = just_cities
# census_cities_df["State ID"] = ""
state_ID_series = []
place_ID_series = []

# Create State and Place IDs from CityFIPS
# for index, row in example_df.iterrows():
for index, row in census_cities_df.iterrows():
    city_FIPS = row['CityFIPS']
    city_FIPS = str(city_FIPS)
#     print(city_FIPS)
    
    if len(city_FIPS)==9:
        state_ID = city_FIPS[0:2]
#         state_ID_series.append(state_ID)
        place_ID = city_FIPS[2:]
    elif len(city_FIPS)==8:
        state_ID = city_FIPS[0:1]
        state_ID = "0" + state_ID
        place_ID = city_FIPS[1:]

#     print(state_ID_series)
#     print(state_ID)
    state_ID_series.append(state_ID)
#     print(place_ID)
    place_ID_series.append(place_ID)
#     print("")
    
# Add Result to DataFrame
census_cities_df["State ID"] = state_ID_series
census_cities_df["Place ID"] = place_ID_series

# Make Smaller DataFrame for testing
census_cities_df_head = census_cities_df.head()
census_cities_df.head()

,StateDesc,CityName,PopulationCount,GeoLocation,CityFIPS,State ID,Place ID
56,Alabama,Birmingham,212237,"(33.5275663773, -86.7988174678)",107000.0,01,07000.0
2851,Alabama,Hoover,81619,"(33.3767602729, -86.8051937568)",135896.0,01,35896.0
3713,Alabama,Huntsville,180105,"(34.6989692671, -86.6387042882)",137000.0,01,37000.0
5549,Alabama,Mobile,195111,"(30.6776248648, -88.1184482714)",150000.0,01,50000.0
7779,Alabama,Montgomery,205764,"(32.3472645333, -86.2677059552)",151000.0,01,51000.0

# The code in the cell below works, we just need to turn it into a loop
## See the 'TODO' in the code block below

In [121]:
census_data_test_single = c.acs5.state_place('NAME','01','07000')
census_pd_test = pd.DataFrame(census_data_test_single)

# TODO: just feed "State ID" in where '01' is and "Place ID" where '07000' is
census_data_test = c.acs5.state_place(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"),'01','07000')

# Convert to DataFrame
census_pd = pd.DataFrame(census_data_test)
# census_pd.head()

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["State", "Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate", "Unemployment Rate"]]

census_pd.head()

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,01,"Birmingham city, Alabama",212295.0,35.9,31445.0,19650.0,62258.0,29.326173,7.252644

# An attempt at adding the loop didn't work

In [124]:
census_data_test_single = c.acs5.state_place('NAME','01','07000')
census_pd_test = pd.DataFrame(census_data_test_single)

census_data_test = []

# TODO: just feed "State ID" in where '01' is and "Place ID" where '07000' is
for index, row in census_cities_df_head.iterrows():
    state_id_query = row['State ID']
    place_id_query = row['Place ID']
    # Add the following line back in to see if the loop works
    census_data_test = c.acs5.state_place(("NAME", "B19013_001E", "B01003_001E", "B01002_001E", "B19301_001E", "B17001_002E", "B23025_005E"),state_id_query,place_id_query)
#     census_data_test.append([c.acs5.state_place(("NAME", "B19013_001E", "B01003_001E", "B01002_001E", "B19301_001E", "B17001_002E", "B23025_005E"),state_id_query,place_id_query)])
    
#     # Code just to prove the loop works
#     census_data_test.append([state_id_query, place_id_query])
    
    print(state_id_query)
    print(place_id_query)

print("")
print(census_data_test)
# Convert to DataFrame
# census_pd = pd.DataFrame(census_data_test)
# census_pd.head()

CensusException: error: invalid 'for' argument

In [ ]:
# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["State", "Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate", "Unemployment Rate"]]

census_pd.head()