In [7]:
import pandas as pd
from pprint import pprint

In [9]:
example_data = [[{'NAME': 'Birmingham city, Alabama', 'B19013_001E': 31445.0, 'B01003_001E': 212295.0, 'B01002_001E': 35.9, 'B19301_001E': 19650.0, 'B17001_002E': 62258.0, 'B23025_005E': 15397.0, 'state': '01', 'place': '07000'}], [{'NAME': 'Hoover city, Alabama', 'B19013_001E': 75020.0, 'B01003_001E': 82264.0, 'B01002_001E': 36.7, 'B19301_001E': 38457.0, 'B17001_002E': 5537.0, 'B23025_005E': 2795.0, 'state': '01', 'place': '35896'}], [{'NAME': 'Huntsville city, Alabama', 'B19013_001E': 48881.0, 'B01003_001E': 182317.0, 'B01002_001E': 36.7, 'B19301_001E': 30916.0, 'B17001_002E': 29494.0, 'B23025_005E': 11036.0, 'state': '01', 'place': '37000'}], [{'NAME': 'Mobile city, Alabama', 'B19013_001E': 38644.0, 'B01003_001E': 195116.0, 'B01002_001E': 35.5, 'B19301_001E': 23385.0, 'B17001_002E': 43928.0, 'B23025_005E': 12229.0, 'state': '01', 'place': '50000'}], [{'NAME': 'Montgomery city, Alabama', 'B19013_001E': 43702.0, 'B01003_001E': 204760.0, 'B01002_001E': 34.2, 'B19301_001E': 24365.0, 'B17001_002E': 44774.0, 'B23025_005E': 8940.0, 'state': '01', 'place': '51000'}]]
print("This is the example data")
print(example_data)
print("")
print("Pretty print of example data")
pprint(example_data)
print("")

# # Convert to DataFrame
census_data_test_fromrecords = pd.DataFrame.from_records(example_data)
census_data_test_fromdict = pd.DataFrame.from_dict(example_data)
census_data_test_regular = pd.DataFrame(example_data)

print("from records")
print(census_data_test_fromrecords)
print("")
print("from dict")
print(census_data_test_fromdict)
print("")
print("regular")
print(census_data_test_regular)
print("")

# Double convert
double_convert = pd.DataFrame.from_records(census_data_test_fromrecords)
double_convert

This is the example data
[[{'NAME': 'Birmingham city, Alabama', 'B19013_001E': 31445.0, 'B01003_001E': 212295.0, 'B01002_001E': 35.9, 'B19301_001E': 19650.0, 'B17001_002E': 62258.0, 'B23025_005E': 15397.0, 'state': '01', 'place': '07000'}], [{'NAME': 'Hoover city, Alabama', 'B19013_001E': 75020.0, 'B01003_001E': 82264.0, 'B01002_001E': 36.7, 'B19301_001E': 38457.0, 'B17001_002E': 5537.0, 'B23025_005E': 2795.0, 'state': '01', 'place': '35896'}], [{'NAME': 'Huntsville city, Alabama', 'B19013_001E': 48881.0, 'B01003_001E': 182317.0, 'B01002_001E': 36.7, 'B19301_001E': 30916.0, 'B17001_002E': 29494.0, 'B23025_005E': 11036.0, 'state': '01', 'place': '37000'}], [{'NAME': 'Mobile city, Alabama', 'B19013_001E': 38644.0, 'B01003_001E': 195116.0, 'B01002_001E': 35.5, 'B19301_001E': 23385.0, 'B17001_002E': 43928.0, 'B23025_005E': 12229.0, 'state': '01', 'place': '50000'}], [{'NAME': 'Montgomery city, Alabama', 'B19013_001E': 43702.0, 'B01003_001E': 204760.0, 'B01002_001E': 34.2, 'B19301_001E': 24365.0, 'B17001_002E': 44774.0, 'B23025_005E': 8940.0, 'state': '01', 'place': '51000'}]]

Pretty print of example data
[[{'B01002_001E': 35.9,
   'B01003_001E': 212295.0,
   'B17001_002E': 62258.0,
   'B19013_001E': 31445.0,
   'B19301_001E': 19650.0,
   'B23025_005E': 15397.0,
   'NAME': 'Birmingham city, Alabama',
   'place': '07000',
   'state': '01'}],
 [{'B01002_001E': 36.7,
   'B01003_001E': 82264.0,
   'B17001_002E': 5537.0,
   'B19013_001E': 75020.0,
   'B19301_001E': 38457.0,
   'B23025_005E': 2795.0,
   'NAME': 'Hoover city, Alabama',
   'place': '35896',
   'state': '01'}],
 [{'B01002_001E': 36.7,
   'B01003_001E': 182317.0,
   'B17001_002E': 29494.0,
   'B19013_001E': 48881.0,
   'B19301_001E': 30916.0,
   'B23025_005E': 11036.0,
   'NAME': 'Huntsville city, Alabama',
   'place': '37000',
   'state': '01'}],
 [{'B01002_001E': 35.5,
   'B01003_001E': 195116.0,
   'B17001_002E': 43928.0,
   'B19013_001E': 38644.0,
   'B19301_001E': 23385.0,
   'B23025_005E': 12229.0,
   'NAME': 'Mobile city, Alabama',
   'place': '50000',
   'state': '01'}],
 [{'B01002_001E': 34.2,
   'B01003_001E': 204760.0,
   'B17001_002E': 44774.0,
   'B19013_001E': 43702.0,
   'B19301_001E': 24365.0,
   'B23025_005E': 8940.0,
   'NAME': 'Montgomery city, Alabama',
   'place': '51000',
   'state': '01'}]]

from records
                                                   0
0  {'NAME': 'Birmingham city, Alabama', 'B19013_0...
1  {'NAME': 'Hoover city, Alabama', 'B19013_001E'...
2  {'NAME': 'Huntsville city, Alabama', 'B19013_0...
3  {'NAME': 'Mobile city, Alabama', 'B19013_001E'...
4  {'NAME': 'Montgomery city, Alabama', 'B19013_0...

from dict
                                                   0
0  {'NAME': 'Birmingham city, Alabama', 'B19013_0...
1  {'NAME': 'Hoover city, Alabama', 'B19013_001E'...
2  {'NAME': 'Huntsville city, Alabama', 'B19013_0...
3  {'NAME': 'Mobile city, Alabama', 'B19013_001E'...
4  {'NAME': 'Montgomery city, Alabama', 'B19013_0...

regular
                                                   0
0  {'NAME': 'Birmingham city, Alabama', 'B19013_0...
1  {'NAME': 'Hoover city, Alabama', 'B19013_001E'...
2  {'NAME': 'Huntsville city, Alabama', 'B19013_0...
3  {'NAME': 'Mobile city, Alabama', 'B19013_001E'...
4  {'NAME': 'Montgomery city, Alabama', 'B19013_0...

                                                   0
0  {'NAME': 'Birmingham city, Alabama', 'B19013_0...
1  {'NAME': 'Hoover city, Alabama', 'B19013_001E'...
2  {'NAME': 'Huntsville city, Alabama', 'B19013_0...
3  {'NAME': 'Mobile city, Alabama', 'B19013_001E'...
4  {'NAME': 'Montgomery city, Alabama', 'B19013_0...